.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(109, 109, 245);
    padding: 1rem;
  }
  
  .navbar-brand {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-center {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
  }
  
  .navbar-item {
    margin-left: 1rem;
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }
  